{% extends "base.html" %}

{% load static %}

{% block title %}Cartões{% endblock %}
{% block content %}
<div class="flex border items-center justify-between p-4 py-6">
<a href={% url 'locais:home' %}><i class="fa-solid fa-arrow-left fa-xl p-3 pt-3.5 pb-3.5 ml-4 flex-grow-0"></i></a>
    <h1 class="text-3xl font-semibold">Cartões</h1>
<!-- Ícone de opções no canto direito -->
<i class="fa-solid fa-ellipsis-vertical fa-xl p-3 pt-3.5 pb-3.5 rounded-[9px] mr-4 flex-grow-0"></i>
</div>

<div class="flex flex-row p-4 pt-0">
    <div class="border-4 border-green-100 p-4 w-3/4">
        
        <div class="flex justify-between bg-gray-50 text-black rounded-[9px] border p-6 mt-2">
            <div class="flex flex-col">
                <h1 class="text-base font-medium mb-2">Fatura do mês</h1>
                <span class="text-4xl font-bold mb-1">R$ 10.000,00 </span> <!--{{ obra.valor_total|default:"0" }}-->
                <span class="text-xs font-medium">(3 CARTÕES)</span> <!-- fazer função para contar quantidade de cartões à pagar-->
            </div>
            <div class="flex items-center">
                <button id="" class="text-base text-white bg-gray-700 px-6 py-3 rounded-[9px] font-semibold hover:bg-gray-600 hover:text-[#edf0e9]" onclick="">
                    Ver detalhes <i class="fa-solid fa-arrow-right-long ml-1" style="color: #ffffff;"></i>
                </button>   
            </div>
        </div>
        <div class="flex flex-col justify-between bg-gray-50 text-black rounded-[9px] border p-6 mt-2">
            <h1 class="text-base font-medium mb-2">Cartões</h1>
            
            <div id="cartoes-slider" class="relative overflow-hidden">
                <!-- Contêiner dos cartões -->
                <div id="cartoes-container" class="flex transition-transform duration-300">
                    {% for cartao in cartoes %}
                        <div class="flex-none w-1/3 p-1">
                            <div class="credit-card w-64 h-38 rounded-lg bg-gradient-to-r from-purple-800 to-purple-500 text-white p-4 flex flex-col justify-between drop-shadow shadow-lg cursor-pointer" 
                                 onclick="cartaoModal('infoCartao', {{ cartao.id }})">
                                <div class="bank-logo">
                                    <img src="{% static cartao.banco.logo_path %}" alt="Bank Logo" class="w-16 h-auto">
                                </div>
                                <div class="card-number text-lg font-bold tracking-widest">
                                    •••• •••• •••• <span>{{ cartao.final }}</span>
                                </div>
                                <div class="card-footer flex justify-between items-center">
                                    <div class="bank-name text-sm font-semibold uppercase">{{ cartao.nome }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <!-- Contêiner das setas de navegação -->
                <div class="flex justify-center items-center mt-4 space-x-4">
                    <!-- Botão de navegação anterior -->
                    <button id="prev-btn" class="text-gray-800 p-3 rounded-full">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
            
                    <!-- Botão de navegação próximo -->
                    <button id="next-btn" class="text-gray-800 p-3 rounded-full">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            
        </div>
        
    </div>


    <div class="border-4 border-purple-100 p-4 w-1/4">
        <div class="mt-2">
            <button class="bg-gray-700 text-white px-6 py-3 rounded-[9px] font-semibold mb-6 hover:bg-gray-600 hover:text-[#edf0e9]" onclick="modalformCriacao('abrir', {
                modalName: 'modalCriarCartao',
                formId: 'formCriarCartao'
                });">
                Cadastrar Cartão
            </button>
            
            <button class="bg-gray-700 text-white px-6 py-3 rounded-[9px] font-semibold mb-6 hover:bg-gray-600 hover:text-[#edf0e9]" onclick="modalformCriacao('abrir', {
                                        modalName: 'modalCriarBanco',
                                        formId: 'formCriarBanco'
                                    });">
                Cadastrar Banco
            </button>
        </div>
    </div>
</div>

{% include 'financeiro/modais/criar_cartao.html' %}
{% include 'financeiro/modais/editar_cartao.html' %}
{% include 'financeiro/modais/deletar_cartao.html' %}
{% include 'financeiro/modais/info_cartao.html' %}
{% include 'financeiro/modais/criar_banco.html' %}

<div>
</div>

</div>
<script>
    function toggleModal(action) {
        const modalCriarCartao = document.getElementById('modalCriarCartao');

        if (action === 'criarCartao') {
            modalCriarCartao.classList.toggle('hidden');
            {% comment %} ToBRCurrency('valorInicialObra2', 0); {% endcomment %}
            document.getElementById('formCriarCartao').reset();
        } else if (action === 'fechar') {
            modalCriarCartao.classList.add('hidden');
        }

    }
    $(document).ready(function () {
        $('#vencimento').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,     
            changeYear: true     
        });
    });


    function formModal(action, openaction, modalName, formId) {
        const modal = document.getElementById(modalName);

        if (action === openaction) {
            modal.classList.toggle('hidden');

            document.getElementById(formId).reset();

        } else if (action === 'fechar') {
            modal.classList.add('hidden');
        }

    }

    $(document).ready(function () {
        $('#vencimento').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,     
            changeYear: true     
        });
    });

    const container = document.getElementById('cartoes-container');
    const nextBtn = document.getElementById('next-btn');
    const prevBtn = document.getElementById('prev-btn');
    const cardWidth = container.querySelector('.flex-none').offsetWidth + 16; // Largura do cartão + margem
    let currentPosition = 0;

    nextBtn.addEventListener('click', () => {
        const maxScroll = container.scrollWidth - container.offsetWidth;
        if (currentPosition < maxScroll) {
            currentPosition += cardWidth;
            container.style.transform = `translateX(-${currentPosition}px)`;
        }
    });

    prevBtn.addEventListener('click', () => {
        if (currentPosition > 0) {
            currentPosition -= cardWidth;
            container.style.transform = `translateX(-${currentPosition}px)`;
        }
    });

</script>
{% endblock content %}
