<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        
        {% block css %}
        {% endblock css %}

        <title>ContaCerta | {% block title %}{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
        <script src="https://unpkg.com/imask"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />

        <!-- dropdown com busca -->
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet" />

        <!-- charts -->
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    </head>
    <body>
        {% block content %}{% endblock content %}
        <script src="https://kit.fontawesome.com/d774daea05.js" crossorigin="anonymous"></script>
    </body>
    <script>
        const obras = JSON.parse('{{ obras_json|safe }}');

        function ToBRCurrency(ElementID, valor){
            const input = document.getElementById(ElementID);
            let numero = valor; 
        
            // Verifica se o valor não está vazio
            if (input) {
                // Converte para número e formata no formato pt-BR
                numero = Number(numero).toLocaleString('pt-BR', {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
                });
                // Atualiza o valor no campo de entrada
                input.value = numero;
            } else {
                console.log("Não há valor inicial.");
            }
        
            // Aplica a máscara para permitir edição no formato brasileiro
            IMask(input, {
                mask: Number, // Tipo de máscara
                scale: 2, // Casas decimais
                signed: false, // Valores negativos
                thousandsSeparator: '.', // Separador de milhar
                padFractionalZeros: true, // Preencher zeros após a vírgula
                normalizeZeros: true, // Remover zeros desnecessários
                radix: ',', // Separador decimal
            });
        }

        //Modal de formulário
        function modalformCriacao(action, { modalName, formId, hiddenClass = 'hidden', currencyFields = [] } = {}) {
            const modal = document.getElementById(modalName);
            const form = formId ? document.getElementById(formId) : null;
        
            if (!modal) {
                console.error(`Modal com ID "${modalName}" não encontrado.`);
                return;
            }
        
            if (action === 'abrir') {
                modal.classList.toggle(hiddenClass);
                if (form) form.reset();
        
                // Se currencyFields for um array e contiver valores, aplica ToBRCurrency
                if (Array.isArray(currencyFields) && currencyFields.length > 0) {
                    currencyFields.forEach(field => {
                        const element = document.getElementById(field);
                        if (element) ToBRCurrency(field, 0);
                    });
                }
            } else if (action === 'fechar') {
                modal.classList.add(hiddenClass);
            } else {
                console.warn(`Ação "${action}" não reconhecida.`);
            }
        }

        // modal de editar e excluir obra
        function obraModal(action, id) {
            const infoModal = document.getElementById('modalInfoObra');
            const editarModal = document.getElementById('modalEditarObra');
            const deletarModal = document.getElementById('modalDeletarObra');
        
            var obraId = id;
        
            if (action === 'infoObra') {
                infoModal.classList.toggle('hidden');
                let obra = obras.find(o => o.id === obraId);
                console.log(obra);
                
                document.getElementById('obraTituloInfo').innerHTML = "Obra " + obra.nome;
                document.getElementById('nomeObraInfo').innerHTML = "<b>Nome:</b> " + obra.nome;
                document.getElementById('localObraInfo').innerHTML = "<b>Local:</b> " + obra.local;
                document.getElementById('valorInicialObraInfo').innerHTML = "<b>Valor inicial:</b> R$" + new Intl.NumberFormat('pt-BR', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(obra.valor_inicial);
                document.getElementById('dataInicioObraInfo').innerHTML = "<b>Data de início:</b> " + obra.data_inicio;
                document.getElementById('dataFinalObraInfo').innerHTML = "<b>Data de término:</b> " + (obra.data_final || "-");
                document.getElementById('prazoInicialObraInfo').innerHTML = "<b>Prazo inicial (Data de término estipulada):</b> " + obra.prazo_inicial;
        
            } else if (action === 'fecharInfo') {
                infoModal.classList.add('hidden');
            }
        
            else if (action === 'editarObra') {    
                let obra = obras.find(o => o.id === obraId);
            
                if (!obra) {
                    console.error('Obra não encontrada:', obraId);
                    return;  // Retorna caso não encontre a obra
                }
            
                console.log('Obra encontrada:', obra);
                console.log('ID da obra:', obra.id);  // Verifique se a obra tem o id
                
                document.getElementById('formEditarObra').action = `/editar/obra/${id}`;
        
                document.getElementById('obraId').value = obra.id;
                document.getElementById('nomeObra').value = obra.nome;
                document.getElementById('localObra').value = obra.local;
        
                ToBRCurrency('valorInicialObra', obra.valor_inicial);
                  
                // Atribuir os valores formatados aos campos do formulário
                document.getElementById('dataInicioObraE').value = obra.data_inicio;
                document.getElementById('dataFinalObraE').value = obra.data_final || ""; // Caso não exista, deixa vazio
                
                document.getElementById('prazoObraE').value = obra.prazo_inicial;
    
                document.getElementById('deletarObraBtn').setAttribute('onclick', `obraModal('deletarObra', ${obraId})`);
    
                editarModal.classList.remove('hidden');
            } else if (action === 'fecharEditar') {
                editarModal.classList.add('hidden');
            }
            else if (action === 'deletarObra') {
                // Remover o modal de edição, pois estamos abrindo o de exclusão
                editarModal.classList.add('hidden');
                
                console.log('ID da obra para exclusão:', obraId);
                console.log('Obras disponíveis:', obras);
                
                let obra = obras.find(o => o.id === obraId); // Certifique-se de que obraId existe no array 'obras'
            
                if (!obra) {
                    console.error('Obra não encontrada:', obraId);
                    return;  // Retorna caso não encontre a obra
                }
            
                console.log('Obra encontrada:', obra);
                console.log('ID da obra:', obra.id);  // Verifique se a obra tem o id
    
                document.getElementById('tituloDeletarObra').innerHTML = `Deletar "${obra.nome}"`; 
    
                document.getElementById('textDeletarObra').innerHTML = `Tem certeza de que deseja excluir a Obra "${obra.nome}"? Esta ação não pode ser desfeita.`; 
                
                // Defina a URL do formulário de exclusão com o ID correto
                document.getElementById('formDeletarObra').action = `/deletar/obra/${id}`;
                
                // Mostra o modal de exclusão
                deletarModal.classList.remove('hidden');
            } else if (action === 'fecharDeletar') {
                deletarModal.classList.add('hidden');
            }
            
        }

        const cartoes = JSON.parse('{{ cartoes_json|safe }}');

        // modal de editar e excluir cartao
        function cartaoModal(action, id) {
            const infoModalCartao = document.getElementById('modalInfoCartao');
            const editarModalCartao = document.getElementById('modalEditarCartao');
            const deletarModalCartao = document.getElementById('modalDeletarCartao');
        
            var cartaoId = id;
        
            if (action === 'infoCartao') {
                infoModalCartao.classList.toggle('hidden');
                let cartao = cartoes.find(c => c.id === cartaoId);
                
                document.getElementById('cartaoTituloInfo').innerHTML = "Cartão " + cartao.nome;
                document.getElementById('nomeCartaoInfo').innerHTML = "<b>Nome:</b> " + cartao.nome;
                document.getElementById('bancoCartaoInfo').innerHTML = "<b>Banco:</b> " + cartao.banco;
                document.getElementById('vencimentoCartaoInfo').innerHTML = "<b>Vencimento (dia):</b> " + cartao.vencimento;
                document.getElementById('finalCartaoInfo').innerHTML = "<b>Final:</b> " + cartao.final;
                document.getElementById('quantdiasCartaoInfo').innerHTML = "<b>Quantidade de dias:</b> " + cartao.quant_dias;
                document.getElementById('melhordiaCartaoInfo').innerHTML = "<b>Melhor dia de compra:</b> " + (cartao.melhor_dia || "-");
        
            } else if (action === 'fecharInfoCartao') {
                infoModalCartao.classList.add('hidden');
            }
        
            else if (action === 'editarCartao') {    
                let cartao = cartoes.find(c => c.id === cartaoId);
            
                if (!cartao) {
                    console.error('Cartão não encontrado:', cartaoId);
                    return;  
                }
            
                console.log('Cartão encontrada:', cartao);
                console.log('ID da cartão:', cartao.id);
                
                document.getElementById('formEditarCartao').action = `/editar/cartao/${id}`;
                
                document.getElementById('cartaoTituloEditar').innerHTML = `Editar "${cartao.nome}"`;
                document.getElementById('cartaoId').value = cartao.id;
                document.getElementById('nomeCartao').value = cartao.nome;
                document.getElementById('finalCartao').value = cartao.final;
                document.getElementById('vencimentoCartao').value = cartao.vencimento;
                document.getElementById('quantdiasCartao').value = cartao.quant_dias;
                                  
                editarModalCartao.classList.remove('hidden');
            } else if (action === 'fecharEditar') {
                editarModalCartao.classList.add('hidden');
            }
            else if (action === 'deletarCartao') {
                // Remover o modal de edição, pois estamos abrindo o de exclusão
                editarModalCartao.classList.add('hidden');
                
                console.log('ID do cartão para exclusão:', cartaoId);
                console.log('Cartões disponíveis:', cartoes);
                
                let cartao = cartoes.find(c => c.id === cartaoId);
            
                if (!cartao) {
                    console.error('Cartão não encontrado:', cartaoId);
                    return;  // Retorna caso não encontre a obra
                }
            
                console.log('Cartão encontrada:', cartao);
                console.log('ID da cartão:', cartao.id); 
    
                document.getElementById('tituloDeletarCartao').innerHTML = `Deletar "${cartao.nome}"`; 
    
                document.getElementById('textDeletarCartao').innerHTML = `Tem certeza de que deseja excluir o cartão "${cartao.nome}"? Esta ação não pode ser desfeita.`; 
                
                // Defina a URL do formulário de exclusão com o ID correto
                document.getElementById('formDeletarCartao').action = `/deletar/cartao/${id}`;
                
                // Mostra o modal de exclusão
                deletarModalCartao.classList.remove('hidden');
            } else if (action === 'fecharDeletar') {
                deletarModalCartao.classList.add('hidden');
            }
            
        }


        const despesas = JSON.parse('{{ despesas_json|safe }}');
        const notaCartao = JSON.parse('{{ nota_cartao_json|safe }}');
        const notaBoleto = JSON.parse('{{ nota_boleto_json|safe }}');
        const notaPix = JSON.parse('{{ nota_pix_json|safe }}');
        const notaEspecie = JSON.parse('{{ nota_especie_json|safe }}');
        const maoDeObras = JSON.parse('{{ mao_de_obra_json|safe }}');
        const funcionarios = JSON.parse('{{ funcionarios_json|safe }}');

        // modal de editar e excluir despesa
        function despesaModal(action, id) {
            const infoModalDespesa = document.getElementById('modalInfoDespesa');
            const editarModalDespesa = document.getElementById('modalEditarDespesa');
            const deletarModalDespesa = document.getElementById('modalDeletarDespesa');
        
            var despesaId = id;
        
            if (action === 'infoDespesa') {
                infoModalDespesa.classList.toggle('hidden');
                let despesa = despesas.find(d => d.id === despesaId);
                
                document.getElementById('despesaTituloInfo').innerHTML = "Informações " + despesa.nome;
                document.getElementById('nomeDespesaInfo').innerHTML = "<b>Nome:</b> " + despesa.nome;

                document.getElementById('formaPagDespesaInfo').innerHTML = "<b>Forma de pagamento:</b> " + despesa.forma_pag;
                document.getElementById('dataDespesaInfo').innerHTML = "<b>Data de emissão:</b> " + despesa.data;
                document.getElementById('valorDespesaInfo').innerHTML = "<b>Valor:</b> " + despesa.valor;
                document.getElementById('obsDespesaInfo').innerHTML = "<b>Observação:</b> " + despesa.observacao;
                document.getElementById('statusDespesaInfo').innerHTML = "<b>Status:</b> " + despesa.status;
                document.getElementById('dataPagDespesaInfo').innerHTML = "<b>Data de pagamento:</b> " + (despesa.data_pagamento || "Não pago.");
                document.getElementById('modalidadeDespesaInfo').innerHTML = "<b>Modalidade:</b> " + despesa.modalidade;
                
                if (despesa.modalidade == 'mao_de_obra'){
                    let mdo_despesa = maoDeObras.find(md => md.id === despesaId); 
                    let funcionario_despesa = funcionarios.find(fd => fd.id === mdo_despesa.funcionario_id); 

                    document.getElementById('despesaFuncionarioMDOInfo').innerHTML = "<b>Funcionário:</b> " + (funcionario_despesa || "-");
                    document.getElementById('despesaCategoriaMDOInfo').innerHTML = "<b>Categoria:</b> " + mdo_despesa.categoria;
                }

                if (despesa.forma_pag == 'cartao'){
                    let cartao_despesa = notaCartao.find(cd => cd.id === despesaId);
                    document.getElementById('despesaCartaoNome').innerHTML = "<b>Cartão:</b> " + (cartao_despesa.nome || "-");
                    document.getElementById('despesaQntParcelasCartaoInfo').innerHTML = "<b>Quantidade de parcelas:</b> " + cartao_despesa.quant_parcelas;
                    document.getElementById('despesaValorParcelaCartaoInfo').innerHTML = "<b>Valor da parcela:</b> " + cartao_despesa.valor_parcela;
                }
                    
                else if (despesa.forma_pag == 'boleto'){
                    let boleto_despesa = notaBoleto.find(bd => bd.id === despesaId);
                    document.getElementById('despesaBoletoNome').innerHTML = "<b>Boleto:</b> " + (boleto_despesa.nome || "-");
                    document.getElementById('despesaRecipienteBoletoInfo').innerHTML = "<b>Recipiente:</b> " + boleto_despesa.recipiente;
                    document.getElementById('despesaQntBoletoInfo').innerHTML = "<b>Quantidade de boletos:</b> " + boleto_despesa.quant_boletos;
                    document.getElementById('despesaVencimentoBoletoInfo').innerHTML = "<b>Vencimento:</b> " + boleto_despesa.vencimento;
                    document.getElementById('despesaNotaFiscalBoletoInfo').innerHTML = "<b>Número da Nota Fiscal:</b> " + boleto_despesa.num_notafiscal;
                    document.getElementById('despesaBancoBoletoInfo').innerHTML = "<b>Banco:</b> " + boleto_despesa.banco;
                }

                else if (despesa.forma_pag == 'pix'){
                    let pix_despesa = notaPix.find(pd => pd.id === despesaId);
                    document.getElementById('despesaBancoPixInfo').innerHTML = "<b>Banco:</b> " + pix_despesa.banco;
                }

                else if (despesa.forma_pag == 'especie'){
                    let especie_despesa = notaEspecie.find(ed => ed.id === despesaId);
                    document.getElementById('despesaBancoPixInfo').innerHTML = "<b>Pagador:</b> " + especie_despesa.banco;
                }


        
            } else if (action === 'fecharInfoDespesa') {
                infoModalDespesa.classList.add('hidden');
            }
        
            else if (action === 'editarDespesa') {    
                let despesa = despesas.find(d => d.id === despesaId);
            
                if (!despesa) {
                    console.error('Despesa não encontrada:', cartaoId);
                    return;  
                }
            
                console.log('Despesa encontrada:', despesa);
                console.log('ID da Despesa:', despesa.id);
                
                document.getElementById('formEditarDespesa').action = `/editar/despesa/${id}`;
                
                document.getElementById('despesaTituloEditar').innerHTML = `Editar "${despesa.nome}"`;

                document.getElementById('nomeDespesaEditar').value = despesa.nome;
                document.getElementById('formaPagDespesaEditar').value = despesa.forma_pag;
                document.getElementById('dataDespesaEditar').value = despesa.data;
                document.getElementById('valorDespesaEditar').value = despesa.valor;
                document.getElementById('obsDespesaEditar').value = despesa.observacao;
                document.getElementById('statusDespesaEditar').value = despesa.status;
                document.getElementById('dataPagDespesaEditar').value = (despesa.data_pagamento || "-");
                document.getElementById('modalidadeDespesaEditar').value = despesa.modalidade;
                

                if (despesa.modalidade == 'mao_de_obra'){
                    let mdo_despesa = maoDeObras.find(md => md.id === despesaId); 
                    
                    if (!mdo_despesa) {
                        console.warn(`Mão de obra não encontrada para ID: ${despesaId}`);
                    } else {
                        console.log('Mão de Obra:', mdo_despesa);
                        let funcionario_despesa = funcionarios.find(fd => fd.id === mdo_despesa.funcionario_id);
                        if (!funcionario_despesa) {
                            console.warn(`Funcionário não encontrado para ID: ${mdo_despesa.funcionario_id}`);
                        } else {
                            console.log('Funcionário:', funcionario_despesa);
                        }
                
                        document.getElementById('despesaFuncionarioMDOInfo').value = (funcionario_despesa?.nome || "-");
                        document.getElementById('despesaCategoriaMDOInfo').value = mdo_despesa.categoria;
                    }
                    
                }


                if (despesa.forma_pag == 'cartao'){

                    const cartaoFieldsDespesa = document.getElementById('cartaoFields');
                    cartaoFieldsDespesa.classList.remove('hidden');
                    let notaCartaoCorrespondente = notaCartao.find(cd => cd.id === despesaId);

                    let cartao_despesa = cartoes.find(cd => cd.id === notaCartaoCorrespondente.cartao_id);

                    if (!cartao_despesa) {
                        console.warn(`Cartão não encontrada para ID: ${despesaId}`);
                    } else {
                        console.log('Cartão:', cartao_despesa);
                        console.log('quant_parcelas:', cartao_despesa.quant_parcelas);
                        console.log('valor_parcela:', cartao_despesa.valor_parcela);

                        document.getElementById('despesaCartaoNomeEditar').value = cartao_despesa.id;

                        document.getElementById('despesaQntParcelasCartaoEditar').value = notaCartaoCorrespondente.quant_parcelas;
                        document.getElementById('despesaValorParcelaCartaoEditar').value = notaCartaoCorrespondente.valor_parcela;

                    }

                }
                    
                else if (despesa.forma_pag == 'boleto'){
                    let boleto_despesa = notaBoleto.find(bd => bd.id === despesaId);

                    document.getElementById('despesaBoletoNomeEditar').value = "<b>Boleto:</b> " + (boleto_despesa.nome || "-");
                    document.getElementById('despesaRecipienteBoletoEditar').value = "<b>Recipiente:</b> " + boleto_despesa.recipiente;
                    document.getElementById('despesaQntBoletoEditar').value = "<b>Quantidade de boletos:</b> " + boleto_despesa.quant_boletos;
                    document.getElementById('despesaVencimentoBoletoEditar').value = "<b>Vencimento:</b> " + boleto_despesa.vencimento;
                    document.getElementById('despesaNotaFiscalBoletoEditar').value = "<b>Número da Nota Fiscal:</b> " + boleto_despesa.num_notafiscal;
                    document.getElementById('despesaBancoBoletoEditar').value = "<b>Banco:</b> " + boleto_despesa.banco;
                }

                else if (despesa.forma_pag == 'pix'){
                    let pix_despesa = notaPix.find(pd => pd.id === despesaId);

                    document.getElementById('despesaBancoPixEditar').value = "<b>Banco:</b> " + pix_despesa.banco;
                }

                else if (despesa.forma_pag == 'especie'){
                    let especie_despesa = notaEspecie.find(ed => ed.id === despesaId);

                    document.getElementById('despesaBancoPixEditar').value = "<b>Pagador:</b> " + especie_despesa.banco;
                }


                editarModalDespesa.classList.remove('hidden');
            } else if (action === 'fecharEditarDespesa') {
                editarModalDespesa.classList.add('hidden');
            }
            else if (action === 'deletarDespesa') {
                // Remover o modal de edição, pois estamos abrindo o de exclusão
                editarModalDespesa.classList.add('hidden');
                
                console.log('ID da despesa para exclusão:', despesId);
                console.log('Despesas disponíveis:', despesas);
                
                let despesa = despesas.find(d => d.id === despesaId);
            
                if (!despesa) {
                    console.error('Cartão não encontrado:', despesaId);
                    return;  // Retorna caso não encontre a obra
                }
            
                console.log('Despesa encontrada:', despesa);
                console.log('ID da despesa:', despesa.id); 
    
                document.getElementById('tituloDeletarDespesa').innerHTML = `Deletar "${despesa.nome}"`; 
    
                document.getElementById('textDeletarDespesa').innerHTML = `Tem certeza de que deseja excluir a despesa "${despesa.nome}"? Esta ação não pode ser desfeita.`; 
                
                // Defina a URL do formulário de exclusão com o ID correto
                document.getElementById('formDeletarDespesa').action = `/deletar/despesa/${id}`;
                
                // Mostra o modal de exclusão
                deletarModalDespesa.classList.remove('hidden');
            } else if (action === 'fecharDeletarDespesa') {
                deletarModalDespesa.classList.add('hidden');
            }
            
        }
        

    </script>
    {% block script %}
    {% endblock script %}
</html>