<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}

        {% block css %}
        {% endblock css %}

        <title>ContaCerta | {% block title %}{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Incluindo o jQuery e jQuery UI -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock content %}
        <script src="https://kit.fontawesome.com/d774daea05.js" crossorigin="anonymous"></script>
    </body>
</html>