<!-- Modal de deleção de cartão -->
<div id="modalDeletarCartao" class="hidden fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white px-14 py-12 rounded-[34px] w-full max-w-lg">
        <h3 id="tituloDeletarCartao" class="text-xl font-bold mb-4 text-red-600">Deletar Cartão</h3>
        <p id="textDeletarCartao" class="text-gray-700 mb-6">Tem certeza de que deseja excluir o cartão "{{ cartao.nome }}"? Esta ação não pode ser desfeita.</p>
        <form id="formDeletarCartao" method="POST" action="">
            {% csrf_token %}
            <div class="flex flex-row justify-between">
                <button type="submit" class="mr-2 bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 w-full font-bold">Deletar</button>
                <button type="button" onclick="cartaoModal('fecharDeletar')" class="bg-white border-2 border-gray-800 hover:border-gray-600 text-gray-800 hover:text-gray-600 font-bold px-6 py-3 rounded-[9px] w-full">Cancelar</button>
            </div>
        </form>
    </div>
</div>