<!-- Modal de geração de planilha -->
<div class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" id="modalGerarPlanilha">
    <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[596px] max-h-[663px] overflow-y-auto">
        <div class="flex space-x-8 justify-between items-center mb-4">
            <h5 class="text-2xl font-semibold text-center flex-grow ml-8">Detalhes da Planilha</h5>
            <i class="fa-solid fa-xmark cursor-pointer p-2 rounded hover:bg-gray-200 hover:bg-opacity-50" onclick="document.getElementById('modalGerarPlanilha').classList.add('hidden');"></i>
        </div>
        <form method="GET" id="formGerarPlanilha" action="{% url 'financeiro:gerar_planilha' obra.id %}">
            {% csrf_token %}
            <div class="mb-8">
                {% if despesas_filtro %} 
                    <h2 class="mt-4 mb-2 text-base font-semibold text-gray-900">Os seguintes filtros estão sendo aplicados:</h2>
                    
                    <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
                        {% for k,v in filtros_preenchidos.items %}
                            <li>
                                {{ k|capfirst }}: {{ v|join:", " |capfirst }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2 class="mt-4 mb-2 text-base font-semibold text-gray-900">Não há filtros aplicados. Todas as despesas desta obra serão incluídas na exportação.</h2>
                {% endif %}
            </div> 
            
            <button type="submit" class=" mt-4 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-[#66b346] dark:hover:bg-primary-700 dark:focus:ring-primary-800">Gerar e Exportar</button>         
        </form>
    </div>
</div>
