<!-- Modal de despesas section -->
<div class="flex space-x-8 justify-between mb-4">
    <div class="py-4 pr-4 pl-4 bg-gray-50 text-black rounded-[9px] border relative text-left w-full sm:w-[150px] md:w-[200px] lg:w-[250px] xl:w-[300px]">
        <h3 class="text-base font-medium">Custo Total</h3>
        <span class="text-2xl font-bold">{{ obra.custo_total_formatado|default:"0" }}</span>
    </div>
    <div class="py-4 pr-4 pl-4 bg-gray-50 text-black rounded-[9px] border relative text-left w-full sm:w-[150px] md:w-[200px] lg:w-[250px] xl:w-[300px]">
        <a class="absolute top-4 right-4 text-right">
            <i class="fa-solid fa-chevron-down"></i>
        </a>
        <div>
            <h3 class="text-base font-medium block">Débito</h3>
            <span class="text-2xl font-semibold block">{{ obra.debito_mensal_formatado|default:"0" }}</span>
        </div>
    </div>
    <a href={% url 'financeiro:cartoes' %}><div class="py-4 pr-4 pl-4 bg-gray-50 text-black rounded-[9px] border relative text-left w-full sm:w-[150px] md:w-[200px] lg:w-[250px] xl:w-[300px]">
        <div class="absolute top-4 right-4 text-right">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </div>
        <div>
            <span class="text-base font-medium block">Visualizar</span>
            <span class="text-2xl font-semibold block">Cartões</span>
        </div>
    </a></div>  
</div>

<div class="flex space-x-4 justify-between mb-4 ">
    <div class="relative shadow-md rounded-lg w-full">
        <div class="flex rounded-t-lg justify-between p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800 pb-3">
            <div class="flex space-x-2 items-center">
                <i class="fa-solid fa-chart-simple" style="color:rgb(6, 172, 0);"></i>
                <h1 class="text-xl">Despesas</h1>
            </div>
            <div class="flex space-x-2 items-center">
                <button id="" class="text-base px-6 py-3 font-semibold hover:text-green-600 hover:text-[#edf0e9]" onclick=""><i class="mr-1 fa-solid fa-filter"></i>
                    Filtrar
                </button>
                <button id="" class="text-base bg-gray-700 px-6 py-3 rounded-[9px] font-semibold hover:bg-gray-600 hover:text-[#edf0e9]" onclick="modalformCriacao('abrir', {
                            modalName: 'modalCriarDespesa',
                            formId: 'formCriarDespesa',
                            currencyFields: ['valor_parcela', 'valor_despesa']
                        });">
                    Adicionar
                </button>                    
            </div>
        </div>
        <div class="overflow-y-auto max-h-96">
            
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 border">
                
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 border sticky top-0 z-10 drop-shadow-md border-b-2">
                    <tr>
                        <th scope="col" class="px-6 py-3">Título</th>
                        <th scope="col" class="px-6 py-3">Forma</th>
                        <th scope="col" class="px-6 py-3">Valor</th>
                        <th scope="col" class="px-6 py-3">Status</th>
                        <th scope="col" class="px-6 py-3">Data</th>
                        <th scope="col" class="px-6 py-3">Observação</th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Editar</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for despesa in despesas %}
                        <tr class="bg-white border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{ despesa.nome }}
                            </th>
                            <td class="px-6 py-4">
                                {{ despesa.forma_pag }}
                            </td>
                            <td class="px-6 py-4">
                                {{ despesa.valor }}
                            </td>
                            <td class="px-6 py-4">
                                <form action="{% url 'financeiro:atualizar_status' tipo='obra' id=obra.id despesa_id=despesa.id %}" method=POST>
                                    {% csrf_token %}
                                    {% if despesa.status == 'a_pagar' %}
                                    <button type="submit" 
                                            class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2 text-center me-2 mb-2">
                                        À pagar
                                    </button>
                                
                                {% elif despesa.status == 'pago' %}
                                    <button type="submit" 
                                            class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2 text-center me-2 mb-2">
                                        Pago
                                    </button>
                                {% endif %}
                                </form>
                                
                            </td>
                            <td class="px-6 py-4">
                                {{ despesa.data }}
                            </td>
                            <td class="px-6 py-4">
                                {{ despesa.observacao|default:'-' }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include 'financeiro/modais/criar_despesa.html' %}
<script>
</script>