<!-- Modal de despesas section -->
<div class="flex space-x-8 justify-between mb-4">
    <div class="py-4 pr-4 pl-4 bg-gray-100 text-black rounded-[9px] border relative text-left w-full sm:w-[150px] md:w-[200px] lg:w-[250px] xl:w-[300px]">
        <h3 class="text-base font-medium">Custo Total</h3>
        <span class="custo-total-obra text-2xl font-bold"></span>
    </div>
    <div class="py-4 pr-4 pl-4 bg-gray-100 text-black rounded-[9px] border relative text-left w-full sm:w-[150px] md:w-[200px] lg:w-[250px] xl:w-[300px]">
        <button class="absolute top-4 right-4 text-gray-700" data-modal-id="modal_2">
            <i class="mesesDropdownIcon fa-solid fa-chevron-down" 
            data-modal-id="modal_2" 
            onclick="toggleMesesMenu(event, 'modal_2')"></i>
        </button>
    
        <h3 class="text-base font-medium block">Débito do mês</h3>
        <span class="debito-mensal-obra text-2xl font-semibold block" data-modal-id="modal_2"></span>
    
        <div class="mesesDropdownList hidden z-20 drop-shadow border bg-gray-100 px-2 py-1 rounded-[9px] absolute top-11 right-4 flex flex-col space-y-2" data-modal-id="modal_2">
            <form method="post" action="">
                {% csrf_token %}
                <div class="dropdown-menu dropdown-menu-end py-2 h-48 w-28 overflow-y-auto overflow-x-hidden">
                    <ul class="list-none">
                        {% for ano_mes_valor in meses %}
                        <li>
                            <button type="submit" name="ano_mes" value="{{ ano_mes_valor }}" class="consultarDebitoMensalBtn dropdown-item text-left text-base py-2 border-b w-full" data-modal-id="modal_2">
                                {{ ano_mes_valor }}
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </div>    

    <div class="py-4 pr-4 pl-4 bg-gray-100 text-black rounded-[9px] border relative text-left w-full sm:w-[150px] md:w-[200px] lg:w-[250px] xl:w-[300px]">
        <h3 class="text-base font-medium block">Total <span class="text-base font-light">(filtro)</span></h3>
        <span class="text-2xl font-semibold block">{{ total_filtro|default:"0" }}</span>
    </div>

    <a href={% url 'financeiro:cartoes' %}>
        <div class="py-4 pr-4 pl-4 bg-gray-100 text-black rounded-[9px] border relative text-left w-full sm:w-[150px] md:w-[200px] lg:w-[250px] xl:w-[300px]">
            <div class="absolute top-4 right-4 text-right">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
            <div>
                <span class="text-base font-medium block">Visualizar</span>
                <span class="text-2xl font-semibold block">Cartões</span>
            </div>
        </div>
    </a> 
    
</div>
{% include 'locais/modais/despesa_table.html' %}
