{% extends 'base.html' %}
{% load static %}

{% block title %}Detalhes - {{ obra.nome }}{% endblock %}

{% block content %}
<div class="fixed bg-white z-50 top-0 border-b-4 w-full drop-shadow-md mb-4">
    <div class="flex flex-col h-full w-full max-w-2xl sm:max-w-4xl lg:max-w-6xl mx-auto">
        <div class="flex w-full p-4 items-center">
            <!-- Ícone de seta para voltar -->
            <a href={% url 'locais:home' %}><i class="fa-solid fa-arrow-left fa-xl p-3 pt-3.5 pb-3.5 ml-4 mr-10 flex-grow-0"></i></a>
            
            <!-- Div principal com flex-grow-1 -->
            <div class="flex flex-grow items-center">
                <!-- Conteúdo alinhado à esquerda -->
                <div class="border-l-4 border-gray-200 px-4 flex-grow">
                    <h1 class="text-2xl font-bold mb-2">Obra {{ obra.nome }}</h1>
                    <div>
                        <p class="text-sm break-words mb-2 text-lg">
                            <i class="fa-solid fa-location-dot fa-xl px-1"></i> {{ obra.local }}
                        </p>
                        <p id="valorInicialObraInfo" class="text-sm break-words text-lg">
                            <i class="fa-solid fa-dollar-sign mr-1"></i>{{ obra.valor_inicial }}
                        </p>
                    </div>
                </div>
            </div>
        
            <!-- Ícone de opções no canto direito -->
            <button class="text-base text-left pb-1" onclick="obraModal('editarObra', {{ obra.id }})"><i class="fa-solid fa-ellipsis-vertical fa-xl p-3 pt-3.5 pb-3.5 rounded-[9px] mr-4 flex-grow-0"></i></button>
        </div>

        <div class="flex mt-4 items-center justify-center text-center w-full space-x-20">
            <button id="geralBtn" class="px-8 py-2 text-center bg-gray-200 rounded-t-[9px]" onclick="sectionModal('geralSection')">Geral</button>
            <button id="aditivosBtn" class="px-8 py-2 text-center rounded-t-[9px]" onclick="sectionModal('aditivosSection')">Aditivos</button>
            <button id="adiabmBtn" class="px-8 py-2 text-center rounded-t-[9px]" onclick="sectionModal('adiabmSection')">Adiantamentos/BMs</button>
            <button id="despesasBtn" class="px-8 py-2 text-center rounded-t-[9px]" onclick="sectionModal('despesasSection')">Despesas</button>
        </div>
    </div>
</div>
<div class="relative mt-52 flex flex-col w-full max-w-2xl sm:max-w-4xl lg:max-w-6xl mx-auto justify-center items-center">
    <div id="geralSection" class="block"> <!-- Inicialmente visível -->
        {% include "locais/modais/menuObra/geral_obra.html" %}
    </div>
    <div id="aditivosSection" class="hidden">
        {% include "locais/modais/menuObra/aditivos.html" %}
    </div>
    <div id="adiabmSection" class="hidden">
        {% include "locais/modais/menuObra/adiantamentos_bms.html" %}
    </div>
    <div id="despesasSection" class="hidden">
        {% include "locais/modais/menuObra/despesas_obra.html" %}
    </div>
</div>
{% include "locais/modais/editar_obra.html" %}
{% include "locais/modais/deletar_obra.html" %}
{% include 'financeiro/modais/despesa/criar_despesa.html' %}
{% include 'financeiro/modais/despesa/editar_despesa.html' %}
{% include 'financeiro/modais/despesa/deletar_despesa.html' %}
{% include 'financeiro/modais/despesa/info_despesa.html' %}
{% include 'financeiro/modais/aditivo/criar_aditivo.html' %}
{% include 'financeiro/modais/aditivo/info_aditivo.html' %}
{% include 'financeiro/modais/aditivo/editar_aditivo.html' %}
{% include 'financeiro/modais/aditivo/deletar_aditivo.html' %}
{% include 'financeiro/modais/adiantamento/criar_adiantamento.html' %}
{% include 'financeiro/modais/adiantamento/info_adiantamento.html' %}
{% include 'financeiro/modais/adiantamento/editar_adiantamento.html' %}
{% include 'financeiro/modais/adiantamento/deletar_adiantamento.html' %}
{% include 'financeiro/modais/bm/criar_bm.html' %}
{% include 'financeiro/modais/bm/info_bm.html' %}
{% include 'financeiro/modais/bm/editar_bm.html' %}
{% include 'financeiro/modais/bm/deletar_bm.html' %}


{% endblock content %}
{% block script %}
<script>    
    // Obtenha o caminho completo da URL
    const path = window.location.pathname;

    // Divida o caminho em partes usando '/' como separador
    const pathParts = path.split('/');

    // O ID está na última parte do caminho
    const obraId = parseInt(pathParts[pathParts.length - 1], 10);

    // Procura pela obra com o ID correspondente
    const obra = obras.find(o => o.id === obraId);

    document.getElementById("valorInicialObraInfo").innerHTML = `<i class="fa-solid fa-dollar-sign mr-1"></i> ${obra.valor_inicial}`;
    
    document.querySelectorAll(".custo-total-obra").forEach(el => {
        el.innerText = obra.custo_total;
    });

    document.querySelectorAll(".valor-receber-obra").forEach(el => {
        el.innerText = obra.valor_receber;
    });

    document.querySelectorAll(".valor-total-obra").forEach(el => {
        el.innerText = obra.valor_total;
    });

    document.querySelectorAll(".debito-mensal-obra").forEach(el => {
        el.innerText = obra.debito_mensal;
    });

    document.getElementById("prazoAtualObra").innerText = obra.prazo_atual;

    document.getElementById("totalAdiantamentos").innerText = obra.total_adiantamentos;

    document.getElementById("totalBMs").innerText = obra.total_bms;

    document.getElementById("somaAdiantamentoBM").innerText = obra.soma_adiantamento_bm;

    // Débito mensal
    function toggleMesesMenu(event) {
        // Impede a propagação do clique para o documento
        event.stopPropagation();
        
        const mesesMenu = document.getElementById(`mesesDropdownList`);
        const mesesIcon = document.getElementById(`mesesDropdownIcon`);
        
        // Alterna o menu ao clicar no ícone
        mesesMenu.classList.toggle('hidden');
        mesesMenu.classList.toggle('drop-shadow'); 
        mesesIcon.classList.toggle('bg-gray-200');

        // Adiciona um listener para fechar o menu ao clicar fora
        document.addEventListener('click', function handleClickOutside(e) {
            // Verifica se o clique foi fora do ícone
            if (e.target.id !== `mesesDropdownList`) {
                mesesMenu.classList.add('hidden'); 
                mesesMenu.classList.remove('drop-shadow'); 
                mesesIcon.classList.remove('bg-gray-200');
                mesesMenu.classList.remove('border');
                document.removeEventListener('click', handleClickOutside); // Remove o listener
            }
        });
    }




    document.addEventListener("DOMContentLoaded", function () {
        // Recupera a última seção acessada do LocalStorage
        const savedSection = localStorage.getItem("activeSection") || "geralSection";
        sectionModal(savedSection); // Ativa a seção salva
    });

    function sectionModal(action) {
        const sections = ["geralSection", "aditivosSection", "despesasSection", "adiabmSection"];
        const buttons = ["geralBtn", "aditivosBtn", "despesasBtn", "adiabmBtn"];

        // Oculta todas as seções e remove o destaque dos botões
        sections.forEach((section, index) => {
            document.getElementById(section).classList.add("hidden");
            document.getElementById(buttons[index]).classList.remove("bg-gray-200");
        });

        // Mostra a seção correspondente e destaca o botão selecionado
        document.getElementById(action).classList.remove("hidden");
        const selectedButton = `${action.replace("Section", "Btn")}`;
        document.getElementById(selectedButton).classList.add("bg-gray-200");

        // Salva a seção ativa no LocalStorage
        localStorage.setItem("activeSection", action);
    }

    // Remove o estado salvo quando o usuário sai da página
    document.querySelector("a[href='{% url 'locais:home' %}']").addEventListener("click", function () {
        localStorage.removeItem("activeSection");
    });

    
</script>

{% endblock script %}