{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="border-b-4 bg-gray-800 flex space-x-4 items-center justify-between px-6 py-2 mb-8">
    <img class="w-44 ml-2" src="{% static '/assets/contacerta-logoH.png' %}" alt="logo">
    <div class="space-x-8">
        <a href="{% url 'locais:detalhe_escritorio' 1 %}"><i class="fa-solid fa-building fa-xl" style="color: #7ED957;"></i></a>
        <a><i class="fa-solid fa-wallet fa-xl" style="color: #7ED957;"></i></a>
        <a><i class="fa-solid fa-circle-user fa-xl" style="color: #7ED957; padding-right: 30px;"></i></a>
    </div>  
</div>
<h1 class="mt-4 text-3xl font-semibold text-center">Olá, {{ user.nome }}!</h1>
<div class="container mx-12 mt-8">
    <div class="flex space-x-4 items-center justify-between">
        <h1 class="text-3xl font-semibold">Obras</h1>
        <button id="addObraBtn" class="mt-4 bg-gray-700 text-white px-6 py-3 rounded-[9px] font-semibold mb-6 hover:bg-gray-600 hover:text-[#edf0e9]" onclick="modalformCriacao('abrir', {
                    modalName: 'modalCriarObra',
                    formId: 'formCriarObra',
                    currencyFields: ['valorInicialObra2']
                });">
            Cadastrar Obra
        </button>
    </div>
    {% include "locais/modais/criar_obra.html" %}
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        {% for obra in obras %}
            <div class="pt-3.5 pb-2 p-4 py-6 bg-gray-50 text-black rounded-[9px] border relative">
                <div>
                    <div class="flex justify-between items-center">
                        <h3 class="font-bold text-lg">{{ obra.nome }}</h3>
                        <i id="dots-{{ forloop.counter }}" class="fa-solid fa-ellipsis-vertical fa-lg p-3 pt-3.5 pb-3.5 rounded-[9px]" onclick="toggleDotsMenu(event, {{ forloop.counter }})"></i>
                    </div>
                    <p class="text-sm break-words"><i class="fa-solid fa-location-dot mr-2"></i>{{ obra.local }}</p>
                    <p class="text-sm break-words"><i class="fa-solid fa-circle-dollar-to-slot mr-1"></i>{{ obra.valor_inicial }}</p>
                </div>
                <div class="pt-2 pb-2 text-right">
                    <!-- botão de ir -->
                    <a href="{% url 'locais:detalhe_obra' obra.id %}"><i class="fa-solid fa-arrow-right bg-gray-700 text-black p-3 rounded-full cursor-pointer hover:bg-gray-500" style="color:rgb(255, 255, 255);"></i></a>
                </div>
                <div id="dotsMenu-{{ forloop.counter }}" class="hidden drop-shadow border bg-gray-50 px-3 py-1 rounded-[9px] absolute top-11 right-4 flex flex-col space-y-2">
                    <button class="text-base text-left py-2 border-b" onclick="obraModal('infoObra', {{ obra.id }})">Informações</button>
                    <button class="text-base text-left pb-1" onclick="obraModal('editarObra', {{ obra.id }})">Editar</button>
                </div>
            </div>
            {% include "locais/modais/editar_obra.html" %}
            {% include "locais/modais/info_obra.html" %}
            {% include "locais/modais/deletar_obra.html" %}
        {% endfor %}
    </div>  
    

</div>

<script>
    
    
    // Função para alternar o menu de 3 pontos
    function toggleDotsMenu(event, index) {
        // Impede a propagação do clique para o documento
        event.stopPropagation();
        
        const dotsMenu = document.getElementById(`dotsMenu-${index}`);
        const dotsIcon = document.getElementById(`dots-${index}`);
        
        // Alterna o menu ao clicar no ícone
        dotsMenu.classList.toggle('hidden');
        dotsMenu.classList.toggle('drop-shadow'); 
        dotsIcon.classList.toggle('bg-gray-200');

        // Adiciona um listener para fechar o menu ao clicar fora
        document.addEventListener('click', function handleClickOutside(e) {
            // Verifica se o clique foi fora do ícone
            if (e.target.id !== `dots-${index}`) {
                dotsMenu.classList.add('hidden'); 
                dotsMenu.classList.remove('drop-shadow'); 
                dotsIcon.classList.remove('bg-gray-200');
                dotsMenu.classList.remove('border');
                document.removeEventListener('click', handleClickOutside); // Remove o listener
            }
        });
    }

    $(document).ready(function () {
        $('#dataInicioObraE, #dataFinalObraE, #prazoObraE', '#datepicker-start', '#datepicker-end', '#datepicker-prazo').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,     
            changeYear: true     
        });
    });

</script>


{% endblock content %}