<!-- Modal de criação de despesa escritorio -->

<div class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" id="modalCriarDespesaEscritorio">
    <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[596px] max-h-[663px] overflow-y-auto">
        <div class="flex space-x-8 justify-between items-center mb-4">
            <h5 class="text-2xl font-semibold text-center flex-grow ml-8">Cadastrar Nova Despesa</h5>
            <i class="fa-solid fa-xmark cursor-pointer p-2 rounded hover:bg-gray-200 hover:bg-opacity-50" onclick="modalformCriacao('fechar', {modalName: 'modalCriarDespesaEscritorio'});"></i>
        </div>
        <form method="POST" id="formCriarDespesaEscritorio" action="{% url 'financeiro:criar_despesa' 'escritorio' escritorio.id %}?next={{ request.path }}">
            {% csrf_token %}
            <div class="flex flex-col space-y-4">
                <div>
                    <label for="descricao" class="block mb-2 text-sm font-medium text-gray-900">Descrição*</label>
                    <input type="text" name="descricao" class="bg-gray-100 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                </div>
                <div class="flex space-x-4 justify-between w-full">
                    <div class="flex-1">
                        <label for="forma_pag" class="block mb-2 text-sm font-medium text-gray-900">Forma de pagamento*</label>
                        <select id="forma_pag" name="forma_pag" class="bg-gray-100 w-full border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 appearance-none" required>
                            <option value="" selected disabled hidden>Selecione a forma</option>
                            <option value="cartao">Cartão</option>
                            <option value="boleto">Boleto</option>
                            <option value="pix">Pix</option>
                            <option value="especie">Espécie</option>
                        </select>
                    </div>
                
                    <div class="flex-1">
                        <label for="status" class="block mb-2 text-sm font-medium text-gray-900">Status*</label>
                        <select id="status" name="status" class="bg-gray-100 w-full border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 appearance-none" required>
                            <option value="a_pagar">À pagar</option>
                            <option value="pago">Pago</option>
                        </select>
                    </div>
                </div>
                

                <!-- Divs que serão mostradas/ocultadas com base na seleção -->
                <div id="cartaoSection" class="hidden mt-4">
                    <div class="mb-4">
                        <label for="cartao" class="block mb-2 text-sm font-medium text-gray-900">Cartão*</label>
                        <select id="cartao" name="cartao" class="bg-gray-100 w-full border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 mb-2">
                            <option value="" selected disabled hidden>Selecione o cartão</option>
                            {% for cartao in cartoes %}
                            <option value="{{ cartao.id }}">{{cartao.final}} - {{ cartao.nome }}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                    
                    <div class="flex space-x-4 justify-between w-full">
                        <div>
                            <label for="quant_parcelas" class="block mb-2 text-sm font-medium text-gray-900">Quantidade de parcelas*</label>
                            <input type="number" id="quant_parcelas" placeholder="0" name="quant_parcelas" class="bg-gray-100 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                        </div>
                        <div>
                            <label for="valor_parcela" class="block mb-2 text-sm font-medium text-gray-900">Valor da parcela*</label>
                            <input type="text" id="valor_parcela" placeholder="1.200,50" name="valor_parcela" class="bg-gray-100 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                        </div>
                    </div>
                </div>

                <div id="boletoSection" class="hidden mt-4">
                    <div>
                        <label for="recipiente" class="block mb-2 text-sm font-medium text-gray-900">Recipiente*</label>
                        <input type="text" name="recipiente" class="bg-gray-100 mb-2 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                    </div>
                    <div class="flex space-x-4 justify-between w-full">
                        <div class="flex-1 mb-2">
                            <label for="quant_boletos" class="block mb-2 text-sm font-medium text-gray-900">Quantidade de boletos*</label>
                            <input type="number" id="quant_boletos" placeholder="0" name="quant_boletos" class="bg-gray-100 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                        </div>
                        <div class="flex-1 mb-2">
                            <label for="vencimentoField" class="block mb-2 text-sm font-medium text-gray-900">Data de vencimento*</label>
                            <input
                                type="text"
                                id="vencimentoField"
                                name="vencimento"
                                value="{{ despesa.vencimento|date:'d-m-Y' }}"
                                class="bg-gray-100 w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] text-gray-700 py-2 px-3"
                                required 
                                data-date-format="dd-mm-yyyy"
                            />
                        </div>
                    </div>

                    <div class="flex space-x-4 justify-between w-full">
                        <div class="flex-1 mb-2">
                            <label for="banco" class="block mb-2 text-sm font-medium text-gray-900">Banco*</label>
                            <select id="banco" name="banco" class="bg-gray-100 w-full border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 appearance-none">
                                <option value="" selected disabled hidden>Selecione o banco</option>
                                {% for banco in bancos %}
                                <option class="" value="{{banco.id}}">{{banco.nome}}</option> 
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label for="num_notafiscal" class="block mb-2 text-sm font-medium text-gray-900">Número da Nota Fiscal*</label>
                            <input type="text" name="num_notafiscal" class="bg-gray-100 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                        </div>
                    </div>
                </div>


                <div id="pixSection" class="hidden mt-4">
                    <div>
                        <label for="banco" class="block mb-2 text-sm font-medium text-gray-900">Banco*</label>
                        <select id="banco" name="banco" class="bg-gray-100 w-full border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 appearance-none">
                            <option value="" selected disabled hidden></option>
                            {% for banco in bancos %}
                            <option class="" value="{{banco.id}}">{{banco.nome}}</option> 
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div id="especieSection" class="hidden mt-4">
                    <div>
                        <label for="pagador" class="block mb-2 text-sm font-medium text-gray-900">Pagador*</label>
                        <input type="text" name="pagador" class="bg-gray-100 mb-2 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                    </div>
                </div>
                
                <div>
                    <label for="valor_despesa" class="block mb-2 text-sm font-medium text-gray-900">Valor*</label>
                    <input type="text" id="valor_despesa" placeholder="1.200,50" name="valor" class="bg-gray-100 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                </div>

                <div class="flex space-x-4 justify-between">
                    <div>
                        <label for="data" class="block mb-2 text-sm font-medium text-gray-900">Data da compra*</label>
                        <input
                            type="text"
                            id="data"
                            name="data_emissao"
                            value="{{ despesa.data|date:'d-m-Y' }}"
                            class="bg-gray-100 w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] text-gray-700 py-2 px-3"
                            required 
                            data-date-format="dd-mm-yyyy"
                        />

                    </div>
                    <div>
                        <label for="data_pagamento" class="block mb-2 text-sm font-medium text-gray-900">Data de pagamento<span class="text-xs text-gray-400">  (opcional)</span></label>
                        <input
                            type="text"
                            id="data_pagamento"
                            name="data_pagamento"
                            value="{{ despesa.data_pagamento|date:'d-m-Y' }}" 
                            class="bg-gray-100 w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] text-gray-700 py-2 px-3 "
                            data-date-format="dd-mm-yyyy"
                        />
                    </div>
                </div>


                <div>
                    <label for="modalidade_escritorio" class="block mb-2 text-sm font-medium text-gray-900">Modalidade*</label>
                    <select id="modalidade_escritorio" name="modalidade_escritorio" class="bg-gray-100 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 appearance-none" required>
                        <option value="" selected disabled hidden>Selecione a modalidade</option>
                        <option value="imposto">Imposto</option>
                        <option value="contador">Contador</option>
                        <option value="rastreamento">Rastreamento</option>
                        <option value="parcela_carro">Parcela do carro</option>
                    </select>
                </div>

                <div>
                    <label for="observacao" class="block mb-2 text-sm font-medium text-gray-900">Observação<span class="text-xs text-gray-400">  (opcional)</span></label>
                    <textarea id="observacao" name="observacao" rows="4" class="bg-gray-100 block p-2.5 w-full text-sm text-gray-700 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Escreva aqui..."></textarea>
                </div>
                
            </div>
            <button type="submit" class=" mt-4 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-[#66b346] dark:hover:bg-primary-700 dark:focus:ring-primary-800">Cadastrar</button>         
        </form>
    </div>
</div>

<script>
    function toggleRequiredFields(sectionId) {
        const allSections = ['cartaoSection', 'boletoSection', 'pixSection', 'especieSection'];
        
        // Ocultar todas as seções e remover a obrigatoriedade dos campos
        allSections.forEach(section => {
            const sectionElement = document.getElementById(section);
            if (sectionElement) {
                const inputs = sectionElement.querySelectorAll('input, select');
                inputs.forEach(input => {
                    // Remover o campo como obrigatório
                    input.required = false;
                });
                // Ocultar a seção
                sectionElement.classList.toggle('hidden', section !== sectionId);
            }
        });
    }

    // Evento de mudança (forma de pagamento)
    document.getElementById('forma_pag').addEventListener('change', function () {
        const value = this.value;
        const sectionMap = {
            cartao: 'cartaoSection',
            boleto: 'boletoSection',
            pix: 'pixSection',
            especie: 'especieSection'
        };

        // Chama a função para exibir a seção adequada e tornar os campos obrigatórios
        if (sectionMap[value]) {
            toggleRequiredFields(sectionMap[value]);
        }
    });

    // Definir o comportamento de exibição no início com o valor inicial do 'forma_pag' se houver
    document.addEventListener('DOMContentLoaded', function() {
        const formaPagSelect = document.getElementById('forma_pag');
        if (formaPagSelect.value) {
            const selectedValue = formaPagSelect.value;
            const sectionMap = {
                cartao: 'cartaoSection',
                boleto: 'boletoSection',
                pix: 'pixSection',
                especie: 'especieSection'
            };
            if (sectionMap[selectedValue]) {
                toggleRequiredFields(sectionMap[selectedValue]);
            }
        }
    });

    
    new TomSelect("#cartao", {
        allowEmptyOption: false,
        maxItems: 1,   
        render:{
            no_results: function( data, escape ){
                return '<div class="no-results">Nenhum cartão encontrado</div>';
            },
        }
    });

    $(document).ready(function () {
        $('#vencimentoField, #data, #data_pagamento').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,     
            changeYear: true     
        });
    });
</script>
<style>
    .ts-control {
        border: none !important;
        width: 100% !important;
        background-color: transparent !important;
        padding: 0 !important;
    }
</style>