<!-- Modal de criação de cartão -->
<div class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" id="modalCriarCartao">
    <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[596px] max-h-[663px] overflow-y-auto">
        <div class="flex space-x-8 justify-between items-center mb-4">
            <h5 class="text-2xl font-semibold text-center flex-grow ml-8">Cadastrar Novo Cartão</h5>
            <i class="fa-solid fa-xmark cursor-pointer p-2 rounded hover:bg-gray-200 hover:bg-opacity-50" onclick="modalformCriacao('fechar', {modalName: 'modalCriarCartao'});"></i>
        </div>
        <form method="POST" id="formCriarCartao" action="{% url 'financeiro:criar_cartao' %}">
            {% csrf_token %}
            <div class="flex flex-col space-y-4">
                <div>
                    <label for="nome" class="block mb-2 text-sm font-medium text-gray-900">Nome</label>
                    <input type="text" name="nome" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729]  py-2 px-3" required>
                </div>
                <div class="flex-1 mb-2">
                    <label for="banco" class="block mb-2 text-sm font-medium text-gray-900">Banco</label>
                    <select id="banco" name="banco" class="w-full border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 appearance-none">
                        <option value="" selected disabled hidden>Selecione o banco</option>
                        <option value="banco_teste">Banco Teste</option>
                        {% for banco in bancos %}
                        <option class="" value="{{banco}}">{{banco}}</option> 
                        {% endfor %}
                    </select>
                </div>
                <div class="flex space-x-4 justify-between">
                    <div class="flex-1 mb-2">
                        <label for="final" class="block mb-2 text-sm font-medium text-gray-900">Final</label>
                        <input 
                            type="text" 
                            name="final" 
                            maxlength="4" 
                            placeholder="1234"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] py-2 px-3" 
                            required>
                    </div>
                    <div class="flex-1 mb-2">
                        <label for="vencimento" class="block mb-2 text-sm font-medium text-gray-900">Data de vencimento</label>
                        <input
                            type="text"
                            id="vencimento"
                            name="vencimento"
                            value="{{ cartao.vencimento|date:'d-m-Y' }}"
                            class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] text-gray-700 py-2 px-3 "
                            required 
                            data-date-format="dd-mm-yyyy"
                        />
                    </div>
                </div>
                <div class="flex-1 mb-2">
                    <label for="quant_dias" class="block mb-2 text-sm font-medium text-gray-900">Quantidade de dias para o melhor dia</label>
                    <input type="number" id="quant_dias" placeholder="15" name="quant_dias" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                </div>
                {% comment %} <div class="flex-1 mb-2">
                    <label for="melhor_dia" class="block mb-2 text-sm font-medium text-gray-900">Melhor dia</label>
                    <input 
                        type="number" 
                        id="melhor_dia" 
                        name="melhor_dia" 
                        placeholder="1" 
                        min="1" 
                        max="31" 
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" 
                        >
                </div> {% endcomment %}

            </div>
            <button type="submit" class=" mt-4 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-[#66b346] dark:hover:bg-primary-700 dark:focus:ring-primary-800">Cadastrar</button>         
        </form>
    </div>
</div>
