<div id="filtroMenuAditivo" class="hidden drop-shadow min-w-64 text-gray-700 z-30 border bg-gray-50 px-3 py-1 rounded-[9px] absolute top-36 left-1/2 -translate-x-1/2 flex flex-col space-y-4">
    <div class="flex space-x-8 justify-between items-center">
        <span class="text-xl text-left py-2 flex-grow" onclick="">Filtrar por:</span>
        <i class="fa-solid fa-xmark cursor-pointer p-2 rounded hover:bg-gray-200 hover:bg-opacity-50" onclick="document.getElementById('filtroMenuAditivo').classList.add('hidden');"></i>
    </div>

    <form method="GET" action="{% url 'locais:detalhe_obra' obra.id %}">
        {% csrf_token %}
        <div class="flex flex-col space-x-4">
            <input type="text" name="tipo_filtro" class="hidden" value="aditivo"/>

            <div class="space-y-4">
                <!-- Meses -->
                <div class="relative group">
                    <button type="button" class="aditivoDropdownButton flex items-center justify-between w-60 px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
                        <div>
                            <i class="fa-solid fa-calendar"></i>
                            <span class="text-base ext-left ml-2">Mês</span>
                        </div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div  class="hidden Aditivodropdown w-full right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 p-1 space-y-1 ">
                    <!-- Search input -->
                    <input id="search-input" class="block text-base font-normal w-full px-4 py-2 text-gray-800 border rounded-md  border-gray-300 focus:outline-none" type="text" placeholder="Buscar mês" autocomplete="off">
                        <div class="h-40 overflow-y-auto">
                        <!-- Dropdown content -->
                        {% for mes in meses %}
                            <label class="block px-4 py-2 text-gray-700 hover:bg-gray-100 active:bg-blue-100 cursor-pointer rounded-md">
                                <input type="checkbox" name="ano_mes" class="form-checkbox h-5 w-5 text-gray-600 rounded-sm" value="{{ mes }}"/>
                                <span class="text-base font-normal ml-2">{{mes}}</span>
                            </label>
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Data específica -->
                <div class="relative group">

                    <button type="button" class="aditivoDropdownButton flex items-center justify-between w-60 px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
                        <div>
                            <i class="fa-solid fa-calendar-day"></i>
                            <span class="text-base text-left ml-2">Data Específica</span>
                        </div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div  class="hidden Aditivodropdown right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 p-1 space-y-1">
                        <input
                            type="text"
                            id="data_filtro"
                            name="data_filtro"
                            value=""
                            class="bg-gray-100 w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] text-gray-700 py-2 px-3 "
                            data-date-format="dd-mm-yyyy"
                        />
                    </div>
                </div>

                <!-- Modalidade -->
                <div class="relative group">
                    <button type="button" class="aditivoDropdownButton flex items-center justify-between w-60 px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
                        <div>
                            <i class="fa-solid fa-hammer"></i>
                            <span class="text-base ext-left ml-2">Modalidade</span>
                        </div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div  class="hidden Aditivodropdown right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 p-1 space-y-1">
                        <!-- Dropdown content -->
                        <label class="block px-4 py-2 text-gray-700 hover:bg-gray-100 active:bg-blue-100 cursor-pointer rounded-md">
                            <input type="checkbox" name="modalidade_aditivo" class="form-checkbox h-5 w-5 text-gray-600 rounded-sm" value="valor"/>
                            <span class="text-base font-normal ml-2">Valor</span>
                        </label>
                        <label class="block px-4 py-2 text-gray-700 hover:bg-gray-100 active:bg-blue-100 cursor-pointer rounded-md">
                            <input type="checkbox" name="modalidade_aditivo" class="form-checkbox h-5 w-5 text-gray-600 rounded-sm" value="prazo"/>
                            <span class="text-base font-normal ml-2">Prazo</span>
                        </label>
                    </div>
                </div>

            </div>

            <!-- submit button -->
            <div>
                <button type="submit" class="my-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-[#66b346] dark:hover:bg-primary-700 dark:focus:ring-primary-800">Filtrar</button>
            </div>

        </div>

    </form>
</div>

<script>
    $(document).ready(function () {
        $('#data_filtro').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const dropdownButtons = document.querySelectorAll(".aditivoDropdownButton");

        dropdownButtons.forEach(button => {
            button.addEventListener("click", function (event) {
                event.stopPropagation(); // Impede que o clique feche imediatamente

                const menu = this.nextElementSibling; // Obtém o dropdown associado

                if (!menu || !menu.classList.contains("Aditivodropdown")) return; // Verifica se menu existe antes de acessar classList

                // Fecha outros dropdowns abertos
                document.querySelectorAll(".Aditivodropdown").forEach(dropdown => {
                    if (dropdown !== menu) {
                        dropdown.classList.add("hidden");
                    }
                });

                // Alterna o menu do botão clicado
                menu.classList.toggle("hidden");
            });
        });

        // Fecha o dropdown ao clicar fora
        document.addEventListener("click", function (event) {
            const isDropdownButton = event.target.closest(".aditivoDropdownButton");
            const isDropdownMenu = event.target.closest(".Aditivodropdown");

            if (!isDropdownButton && !isDropdownMenu) {
                document.querySelectorAll(".Aditivodropdown").forEach(dropdown => {
                    dropdown.classList.add("hidden");
                });
            }
        });
    });
</script>
