
<div class="flex space-x-4 justify-between mb-4">
    <div class="relative shadow-md rounded-lg w-full despesa_table">
        <div class="flex rounded-t-lg justify-between p-5 text-lg font-semibold text-left rtl:text-right text-white bg-gray-800 pb-3">
            <div class="flex space-x-2 items-center">
                <i class="fa-solid fa-chart-simple" style="color:rgb(6, 172, 0);"></i>
                <h1 class="text-xl">Despesas</h1>
            </div>
            <div id="" class="text-base px-6 py-3 font-semibold" >
                {% if despesas_filtro %}
                <span class="text-green-500">(Com Filtro)</span> {% for k, v in filtros_preenchidos.items %}
                    {{ k | capfirst }}: {{ v|join:", " |capfirst }}
                    {% if not forloop.last %} <span class="font-light">|</span> {% endif %}
                    {% endfor %}
                {% else %}
                <span class="text-gray-400">Sem Filtro</span>
                {% endif %}
            </div>
            <div class="flex space-x-2 items-center">
                <button class="text-base px-2 py-3 font-semibold hover:text-green-600 hover:text-[#edf0e9]" onclick="document.getElementById('modalGerarPlanilha').classList.remove('hidden');"><i class="mr-2 fa-solid fa-file-arrow-down"></i>Exportar</button>

                <button id="" class="text-base px-6 py-3 font-semibold hover:text-green-600 hover:text-[#edf0e9]" onclick="filtroModal('abrir', 'filtroMenu', '.despesa_table');"><i class="mr-1 fa-solid fa-filter"></i>
                    Filtrar
                </button>
                <button id="" class="text-base bg-gray-700 px-6 py-3 rounded-[9px] font-semibold hover:bg-gray-600 hover:text-[#edf0e9]" onclick="modalformCriacao('abrir', {
                            modalName: 'modalCriarDespesa',
                            formId: 'formCriarDespesa',
                            currencyFields: ['valor_parcela', 'valor_despesa']
                        });">
                    Adicionar
                </button>                   
            </div>
        </div>
        <div class="overflow-y-auto max-h-96">
            
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 border">
                
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 border sticky top-0 z-10 drop-shadow-md border-b-2">
                    <tr>
                        <th scope="col" class="px-6 py-3">Data da compra</th>
                        <th scope="col" class="px-6 py-3">Descrição</th>
                        <th scope="col" class="px-6 py-3">Valor</th>
                        <th scope="col" class="px-6 py-3">Forma</th>
                        <th scope="col" class="px-6 py-3">Status</th>
                        <th scope="col" class="px-6 py-3">Observação</th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Editar</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for despesa in despesas_filtro|default:despesas %}

                        <tr class="bg-white border-b">

                            <td class="px-6 py-4">
                                {{ despesa.data }}
                            </td>
                            
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                <a id="infoDespesaBtn" href="#" onclick="despesaModal('infoDespesa', {{ despesa.id }})">
                                    {{ despesa.nome }}
                                </a>                                                             
                            </th>

                            <td class="px-6 py-4 min-w-[130px]">
                                {{ despesa.valor_formatado|default:despesa.valor }}
                            </td>
                            
                            <td class="px-6 py-4">
                                {% if despesa.forma_pag == 'cartao' %}
                                    Cartão
                                {% elif despesa.forma_pag == 'boleto' %}
                                    Boleto
                                {% elif despesa.forma_pag == 'pix' %}
                                    Pix
                                {% elif despesa.forma_pag == 'especie' %}
                                    Espécie
                                {% endif %}
                            </td>

                            <td class="px-6 py-4 min-w-[140px]">
                                    <form action="{% url 'financeiro:atualizar_status' despesa_id=despesa.id %}?next={{ request.path }}" method=POST>
                                        {% csrf_token %}
                                        {% if despesa.status == 'a_pagar' %}
                                        <button type="submit" 
                                                class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-4 py-2 text-center me-2 mb-2">
                                            À pagar
                                        </button>
                                        
                                        {% elif despesa.status == 'pago' %}
                                            <button type="submit" 
                                                    class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2 text-center me-2 mb-2">
                                                Pago
                                            </button>
                                        {% endif %}
                                    </form>
                            </td>
                            
                            <td class="px-6 py-4">
                                {{ despesa.observacao|default:'-' }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <button onclick="despesaModal('editarDespesa', {{ despesa.id }})" class="font-medium text-blue-500 hover:underline">Editar</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% include "locais/modais/despesa_filtro.html" %}
{% include "financeiro/modais/gerar_planilha.html" %}

<style>
    .despesa_table.darkened {
        position: relative;
    }
    
    .despesa_table.darkened::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
        border-radius: 8px; /* Mantém o design arredondado */
    }
</style>    
