<!-- Modal de criação de cartão -->
<div class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" id="modalCriarCartao">
    <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[596px] max-h-[663px] overflow-y-auto">
        <div class="flex space-x-8 justify-between items-center mb-4">
            <h5 class="text-2xl font-semibold text-center flex-grow ml-8">Cadastrar Novo Cartão</h5>
            <i class="fa-solid fa-xmark cursor-pointer p-2 rounded hover:bg-gray-200 hover:bg-opacity-50" onclick="modalformCriacao('fechar', {modalName: 'modalCriarCartao'});"></i>
        </div>
        <form method="POST" id="formCriarCartao" action="{% url 'financeiro:criar_cartao' escritorio_id=escritorio_id %}?next={{ request.path }}">
            {% csrf_token %}
            <div class="flex flex-col space-y-4 mb-4">
                <div>
                    <label for="nome" class="block mb-2 text-sm font-medium text-gray-900">Nome</label>
                    <input type="text" name="nome" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729]  py-2 px-3" required>
                </div>
                <div class="flex-1 mb-2">
                    <label for="banco" class="block mb-2 text-sm font-medium text-gray-900">Banco</label>
                    <select id="banco" name="banco" class="w-full border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 appearance-none">
                        <option value="" selected disabled hidden>Selecione o banco</option>
                        {% for banco in bancos %}
                        <option class="" value="{{banco.id}}">{{banco.nome}}</option> 
                        {% endfor %}
                    </select>
                </div>
                <div class="flex space-x-4 justify-between">
                    <div class="flex-1 mb-2">
                        <label for="final" class="block mb-2 text-sm font-medium text-gray-900">Final</label>
                        <input 
                            type="text" 
                            name="final" 
                            maxlength="4" 
                            placeholder="1234"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] py-2 px-3" 
                            required>
                    </div>
                    <div class="flex-1 mb-2">
                        <label for="vencimento" class="block mb-2 text-sm font-medium text-gray-900">Dia do vencimento</label>
                        <input 
                            type="number" 
                            name="vencimento" 
                            min="1" 
                            max="31" 
                            placeholder="10"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] py-2 px-3" 
                            required>
                    </div>
                </div>
                <div class="flex-1 mb-4">
                    <label for="quant_dias" class="block mb-2 text-sm font-medium text-gray-900">Quantidade de dias para o melhor dia</label>
                    <input type="number" id="quant_dias" placeholder="15" name="quant_dias" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#111729] focus:border-[#111729] text-gray-700 py-2 px-3" required>
                </div>

                <!-- cor -->
                <div class="flex flex-col">
                    <label for="corSelecionadaCriar" class="block text-sm font-medium text-gray-900 mb-2">Cor do cartão*</label>
                    
                    <input type="text" id="corSelecionadaCriar" name="corCriar" class="hidden">
                
                    <div class="flex items-center gap-2">
                        <div class="w-10 h-10 bg-blue-500 rounded-full cursor-pointer border-2 border-transparent hover:scale-110 transition" onclick="selecionarCorCriar(this, 'blue')"></div>
                        <div class="w-10 h-10 bg-green-500 rounded-full cursor-pointer border-2 border-transparent hover:scale-110 transition" onclick="selecionarCorCriar(this, 'green')"></div>
                        <div class="w-10 h-10 bg-purple-500 rounded-full cursor-pointer border-2 border-transparent hover:scale-110 transition" onclick="selecionarCorCriar(this, 'purple')"></div>
                        <div class="w-10 h-10 bg-red-500 rounded-full cursor-pointer border-2 border-transparent hover:scale-110 transition" onclick="selecionarCorCriar(this, 'red')"></div>
                        <div class="w-10 h-10 bg-orange-500 rounded-full cursor-pointer border-2 border-transparent hover:scale-110 transition" onclick="selecionarCorCriar(this, 'orange')"></div>
                        <div class="w-10 h-10 bg-yellow-500 rounded-full cursor-pointer border-2 border-transparent hover:scale-110 transition" onclick="selecionarCorCriar(this, 'yellow')"></div>
                        <div class="w-10 h-10 bg-zinc-500 rounded-full cursor-pointer border-2 border-transparent hover:scale-110 transition" onclick="selecionarCorCriar(this, 'zinc')"></div>
                    </div>
                </div>
                

            </div>
            <button type="submit" class=" mt-4 w-full text-white hover:bg-primary-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-[#66b346] hover:bg-primary-700 focus:ring-primary-800">Cadastrar</button>         
        </form>
    </div>
</div>
<script>
    function selecionarCorCriar(elemento, cor) {
        // Define o valor do input escondido
        document.getElementById('corSelecionadaCriar').value = cor;
        console.log('COR: ', document.getElementById('corSelecionadaCriar').value);
    
        // Remove a borda de todos os círculos
        document.querySelectorAll('.cursor-pointer').forEach(el => {
            el.classList.remove('border-black');
        });
    
        // Adiciona borda ao item selecionado
        elemento.classList.add('border-black');
    }
</script>    